body{
    display: block;
    background-color: #FFFFFF;
  }
  main{
    display: block;
    align-self: center;
    border: none;
    margin: auto;
    margin-top: 2%;
  }
  p{
    margin: 1em ;
    text-align: left;
    font-size:24px;
    font-weight: 400;
  }
  .first_form, .second_form, .third_form, .forth_form, .zero_form{
    border: none;
    border-radius: 30px ;
    display: block;
    background-color: #FFE8F1;
    min-width: 600px;
    max-width: 800px;
    align-self: center;
    margin : 2% auto;
    padding-top:20px ;
    padding-bottom: 10px;
  }
  .zero_form{
    height: 80px;
    background-color: #FFFFFF;
    padding: 1em;
  }
  .first_form, .third_form{
    height: 80px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }
  .multiline{
    white-space: pre-wrap;
    margin: auto;
    text-align: center;
  }
